:root {
    --background-dark: #18122B;
    --purple: #393053;
    --purple-100: #443C68;
    --purple-80: #635985;
    --white: #c5c5c5;
}

* {
    background-color: #18122B;
    color: var(--white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.inactive {
    display: none;
}

.trendingPreview-movieList {
    display: flex;
    padding: 24px;
    overflow-x: auto;
    scrollbar-width: thin; /* Ancho del scrollbar (puede ser 'thin', 'auto', o 'none') */
    scrollbar-color: var(--purple) var(--background-dark); /* Color del scrollbar */
    white-space: nowrap;
    width: 100%;
}

.movie-container{ 
    height: auto;
    width: 300px;
    margin: 12px;
}

.movie-img {
    height: 280px;
    object-fit: contain;
    object-position: center;
    border-radius: 8px;
}


.categoriesPreviewList {
    display: grid;
    grid-template-columns: repeat(2 , 150px);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin: 12px 0px;
    padding: 12px;
}

.category-container {
    width: 100%;
    align-items: center;
    text-align: center;
}

.category-container .category-title {
    background-color: var(--purple-100);
    display: grid;
    place-items: center;
    border-radius: 12px;
    padding: 4px 8px;
    margin: 4px 8px;
    width: 128px;
    height: 60px;
}

.category-container .category-title:hover {
    background-color: var(--purple-80);
    border: 1px solid var(--white);
    box-shadow: 0 0 10px 5px var(--purple-80);
}

