:root {
    --background-dark: #18122B;
    --purple: #393053;
    --purple-100: #443C68;
    --purple-80: #635985;
    --white: #c5c5c5;
    --tama침o-texto-peque침o: 16px;
    --tama침o-texto-normal: 18px;
    --tama침o-texto-grande: 28px;
    --tama침o-title-xl: 40px;
    
}

* {
    background-color: #18122B;
    color: var(--white);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.inactive {
    display: none !important;
}

h1 {
    font-size: var(--tama침o-title-xl);
}

h2 {
    font-size: var(--tama침o-texto-grande);
}

h3 {
    font-size: var(--tama침o-texto-normal);
}

.languagesContainer{ 
    display: flex;
    justify-content: end;
    padding: 12px;
    border-radius: 12px;
}

.languagesContainer .languageSelector{ 
    padding: 8px;
    border: none;
    border: #635985 solid 1px;
}

.header-container, .categoriesPreview-header, .liked-header, .trendingPreview-header { 
    padding: 0 18px;
}

.header-container--long {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 38px;
    height: 480px;
    background-repeat: no-repeat;

}

.header-title {
    text-align: center;
    padding: 12px;
    font-size: var(--tama침o-title-xl);
}

.header-title img {
    height: 70px;
    width: 70px;

    margin: 8px;
}

.header-title--categoryView {
    text-align: start;
    font-size: var(--tama침o-texto-grande);
}

.header-searchBar {
    padding: 12px;
    margin: 8px;
    margin-bottom: 32px;
    text-align: center;
    width: 100%;
}

.header-searchBar input {
    height: 38px;
    min-width: 208px;
    border: 1px solid var(--purple-80); 
    border-radius: 8px;
    padding: 8px;
    outline: none; 
}

.header-searchBar button {
    position: relative;
    top: 15px;
    right: 12px;
    border: none;
    border-radius: 0 8px 8px 0;
    height: 38px;
    padding: 0 16px; 
    background-color: var(--purple-80);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.header-searchBar button img {
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
    background: none;
}

.header-arrow {
    background-color: transparent;
}

.header-arrow img{
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin: 12px;
}

.trendingPreview-header, .liked-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendingPreview-header .trendingPreview-btn {
    height: 40px;
    border: none;
    margin: 2px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 12px;
    border: #635985 solid 1px;
}


.trendingPreview-movieList, .liked-movieList {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin; 
    scrollbar-color: var(--purple) var(--background-dark); 
    white-space: nowrap;
    width: 100%;
}

.categoriesPreview-header {
    margin-top: 32px;
    width: 100%;
}
.categoriesPreview-title {
    width: 100%;
}

.categoriesPreview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.category-container {
    margin: 0 auto;
}

.genericList-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie-container{ 
    position: relative;
    min-height: 280px; 
    cursor: pointer;
}

.movie-container--loading, .genericList--loading{
    min-width: 186px;
    min-height: 280px;
    border-radius: 8px;
    background: linear-gradient(90deg, #e0e0e0c9 25%, #c6c6c6d0 50%, #e0e0e0b4 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 2s infinite;
    margin: 12px;
    cursor: pointer;
}

.movie-container--loading:nth-child(2) {
    animation-delay: .2s;
}

.movie-container--loading:nth-child(3) {
    animation-delay: .4s;
}

.movie-container--loading:nth-child(4) {
    animation-delay: .6s;
}

.movie-img {
    min-height: 280px;
    height: 280px;
    width: 186.66px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin: 12px;
}

.movie-btn {
    position: absolute;
    top: 12px;
    right: 14px;
    border: none;
    border-radius: 50%;
    background: var(--purple);
    height: 30px;
    width: 30px;
    z-index: 2;
    
}

.movie-btn::before {
    content: '游밼';
}

.movie-btn--liked {
    background-color: #ffffffd2
}

.movie-btn--liked::before {
    content: '游눞';
}

.categoriesPreviewList {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin: 12px 0px;
    padding: 12px;
    cursor: pointer;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.category-container--loading {
    margin: 14px;
    min-width: 160px;
    min-height: 60px;
    max-width: 160px;
    max-height: 60px;
    border-radius: 8px;
    background: linear-gradient(90deg, #e0e0e0c9 25%, #c6c6c6d0 50%, #e0e0e0b4 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 2s infinite;
}

.category-container--loading:nth-child(2) {
    animation-delay: .5;
}

.category-container .category-title {
    background-color: var(--purple-100);
    display: grid;
    place-items: center;
    border-radius: 12px;
    margin: 4px 8px;
    width: 150px;
    height: 60px;
}

.category-container .category-title:hover {
    background-color: var(--purple-80);
    border: 1px solid var(--white);
    box-shadow: 0 0 10px 5px var(--purple-80);
}

.movieDetail-container{ 
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 32px 24px;
    margin-top: 460px;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
} 

.movieDetail-container .categories-list .category-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12px;
}

.relatedMovies-scrollContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    overflow-x: auto;
    scrollbar-width: thin; 
    scrollbar-color: var(--purple) var(--background-dark); 
    white-space: nowrap;

}

.relatedMovies-title {
    margin-top: 50px;
}

.relatedMovies--loading {
    min-width: 186px;
    min-height: 280px;
    border-radius: 8px;
    background: linear-gradient(90deg, #e0e0e0c9 25%, #c6c6c6d0 50%, #e0e0e0b4 75%);
    background-size: 200% 100%;
    margin: 12px;
    cursor: pointer;
    animation: skeleton-loading 2s infinite;
}

.placeholderImg {
    position: relative;
    bottom: 85px;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    color: var(--purple-100);
}


@keyframes skeleton-loading {
    0%, 100% {
        background-position: -200% 0;
    }
    50% {
        background-position: 200% 0;
    }
}

@media (min-width: 700px) {
    .categoriesPreviewList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 12px 0px;
        padding: 24px;
        cursor: pointer;
        max-width: 70%;
    }

    .header-searchBar input {
        min-width: 380px;
    }


}


